
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Administrar Productos</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nombre </th>
                  <th>Correo Electrónico</th>
                  <th>Telefóno</th>
                  <th>Dirección</th>
                  <th>Rol Asignado</th>
                  <th>Contraseña</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
