

<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Administrar Productos</h4>
          <div class="row justify-content-end">
            <div class="col-5">
              <button type="button" class="btn btn-succes">Crear</button>
              <button type="button" class="btn btn-succes">Editar</button>
              <button type="button" class="btn btn-succes">Eliminar</button>
            </div>
        </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nombre del producto</th>
                  <th>Descripción</th>
                  <th class=" text-center">Precio de venta</th>
                  <th class=" text-center">Precio de compra</th>
                  <th class=" text-center">Existencias</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
                <tr>
                  <td>Lapiz</td>
                  <td>Niger</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center">$3</td>
                  <td class=" text-center"> 1 </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


                  
