
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Gestión de Ingredientes</h4>
          <div class="row justify-content-end">
            <div class="col-5">
              <button type="button" class="btn btn-succes">Crear</button>
              <button type="button" class="btn btn-succes">Editar</button>
              <button type="button" class="btn btn-succes">Eliminar</button>
            </div>
        </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nombre</th>
                  <th class=" text-center">Precio de venta</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jamón</td>
                  <td class=" text-center">$20</td>
                  <td>Muslo de cerdo por lo general preparado para ser conservado.
                  </td>
                <tr>
                  <tr>
                    <td> queso</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Pan</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Lechuga</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr><tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
                  <tr>
                    <td>Mayonesa</td>
                    <td class=" text-center">$20</td>
                    <td>Oud-Turnhout</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
